.app {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 780px) {
  .app {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
