.app {
  display: flex;
  flex-direction: column;
  /*margin: 1.5rem;*/
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.spinner {
  height: 8rem;
  align-self: center;
}

@media (min-width: 780px) {
  .app {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
