.listItem {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0.5rem 0;
}

.playIcon {
  color: #00adef;
  top: 25px;
  /*bottom: 70px;*/
  position: absolute;
  font-size: 25px;
}

.image {
  margin: 0 22px;
}

.title {
  margin: 0;
}
