/*.player {
  width: 640px;
}
*/

.video {
  position: relative;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 780px) {
  .video {
    padding-bottom: 0;
  }

  .video iframe {
    position: relative;
    width: 500px;
    height: 280px;
  }
}
