.playlist {
  margin-top: 20px;
}

.title {
  display: block;
  margin: 0 22px;
}

.listItems {
  position: relative;
  margin-top: 15px;
  height: 15rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 780px) {
  .playlist {
    flex: 0;
    margin-top: 0;
  }
}

