:global(:root) {
  --small-height: 240px;
  --medium-height: 360px;
  --medium-width: 640px;
}

.video {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: var(--small-height);
}

.video iframe {
  width: 426px;
  height: var(--small-height);
}

@media (min-width: 41.69rem) {
  .video {
    height: var(--medium-height);
  }
  .video iframe {
    position: relative;
    width: var(--medium-width);
    height: var(--medium-height);
  }
}

@media (min-width: 48.75rem) {
  .video iframe {
    position: relative;
    width: 500px;
  }
}

@media (min-width: 57.5rem) {
  .video iframe {
    width: var(--medium-width);
  }
}
