.videoInfo {
  position: relative;
  margin: 0 22px;
  border-top: 0.0625rem solid #e3e8e9;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  line-height: 1.11111;
  color: rgb(26, 46, 59);
}

.description {
  position: relative;
  margin-top: 1rem;
  line-height: 1.42857;
  font-size: 0.875rem;
}

@media (min-width: 780px) {
  .title {
    font-size: 2.25rem;
  }
}
