.app {
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
}

.spinner {
  height: 8rem;
  margin-top: 1.5rem;
  flex: 1;
  align-self: center;
}

@media (min-width: 780px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
