.playlist {
  margin-top: 20px;
}

.title {
  display: block;
  margin: 0 22px;
}

.listItems {
  position: relative;
  margin-top: 15px;
  height: 15rem;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 780px) {
  .playlist {
    flex-basis: 0%;
    flex-grow: 1;
    margin-top: 0;
  }

  .title {
    font-size: 1.125rem;
    margin-top: 0.6rem;
  }

  .listItems {
    height: 19.5rem;
  }
}
