.listItem {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0.5rem 0;
}

.playIcon {
  color: #00adef;
  top: 1.5rem;
  position: absolute;
  font-size: 1.55rem;
}

.image {
  margin: 0 1.35rem;
}

.title {
  margin: 0;
}

@media (min-width: 48.75rem) {
  .title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
