.listItem {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 0.5rem 0;
}

.playIcon {
  color: #00adef;
  top: 25px;
  position: absolute;
  font-size: 25px;
}

.image {
  margin: 0 22px;
  max-height: 75px;
}

.title {
  margin: 0;
}

@media (min-width: 780px) {
  .title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
